<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="singlenodefaultschema" type="Simple.Data.Oracle.Configuration.SdoConfigSection, Simple.Data.Oracle"/>
    <section name="multinodefaultschema" type="Simple.Data.Oracle.Configuration.SdoConfigSection, Simple.Data.Oracle"/>
    <section name="multiwithdefaultschema" type="Simple.Data.Oracle.Configuration.SdoConfigSection, Simple.Data.Oracle"/>
    <section name="testschema" type="Simple.Data.Oracle.Configuration.SdoConfigSection, Simple.Data.Oracle"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <connectionStrings>
    <add name="OracleClient" connectionString="Data Source=XE;User id=hr;Password=hr" providerName="Oracle.DataAccess.Client"/>
    <add name="ManagedOdpOracle" connectionString="Data Source=XE;User id=hr;Password=hr" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="DevartOracle" connectionString="Data Source=XE;User id=hr;Password=hr" providerName="Devart.Data.Oracle"/>
  </connectionStrings>

  <singlenodefaultschema>
    <schemas>
      <schema name="schemaName"/>
    </schemas>
  </singlenodefaultschema>

  <multinodefaultschema>
    <schemas>
      <schema name="schemaName"/>
      <schema name="schemaName2"/>
    </schemas>
  </multinodefaultschema>

  <multiwithdefaultschema>
    <schemas>
      <schema name="schemaName"/>
      <schema name="schemaName2" isDefault="true"/>
    </schemas>
  </multiwithdefaultschema>

  <testschema>
    <schemas>
      <schema name="test1" isDefault="true">
        <tableViews>
          <tableView name="people">
            <columns>
              <column name="id" dataType="FLOAT" isPrimaryKey="true"/>
              <column name="firstname" dataType="NVARCHAR2" length="50" isPrimaryKey="true"/>
              <column name="surname" dataType="NVARCHAR2" length="50"/>
              <column name="telephone" dataType="FLOAT"/>
            </columns>
          </tableView>
        </tableViews>
      </schema>
      <schema name="test2">
        <tableViews>
          <tableView name="emailAddresses">
            <columns>
              <column name="id" dataType="FLOAT" isPrimaryKey="true" foreignKey="test2.people.EmailId"/>
              <column name="address" dataType="NVARCHAR2" length="250"/>
            </columns>
          </tableView>
          <tableView name="people">
            <columns>
              <column name="id" dataType="FLOAT" isPrimaryKey="true"/>
              <column name="name" dataType="NVARCHAR2" length="50"/>
              <column name="EmailId" dataType="FLOAT"/>
            </columns>
          </tableView>
        </tableViews>
        <procedures>
          <procedure name="testproc" packageName="package">
            <arguments>
              <argument name="__ReturnValue" dataType="RAW" direction="OUT"/>
            </arguments>
          </procedure> 
        </procedures>
      </schema>
      <schema name="test3">
        <procedures>
          <procedure name="someproc">
            <arguments>
              <argument name="first" dataType="FLOAT" direction="IN"/>
              <argument name="second" dataType="NVARCHAR2" direction="IN"/>
              <argument name="output" dataType="CHAR" direction="OUT"/>
            </arguments>
          </procedure>
        </procedures>
      </schema>
    </schemas>
  </testschema>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>